{% extends "tabla.twig" %}

{% block titlepage %}
		
{% endblock %}

{% block subtitlepage %}
            <h2>Clientes Conectados <small></small></h2>
{% endblock %}



{# tabla #}

{% block js %}

{{ parent() }}

<script type="text/javascript">

    rutas.funcion.add = 'crear_usuario';
    rutas.funcion.eliminar = 'eliminar_usuario';
    rutas.funcion.getdata = 'getCliente';
    rutas.funcion.modificar = 'modifCliente';

    // llama Modals
    Obtener_registro = function(e){

        var url = "{{base_dir_controller}}"+rutas.obtener;
        
        var data = {funcion: "", data: ""};
			data.data = CeldasCheck();
			data.funcion = rutas.funcion.getdata;

        if(data.data.id.length == 1){

            $.post(url, data).done(function(resp){

                resp = JSON.parse(resp);

                resp.forEach(function(value){

                    cargar_form(value);
                    
                });
                

                new template_modal({
                    title: "Modificar Datos del Cliente",
                    btn_rigth_function: "Modificar_registro_msg()",
                    btn_rigth_text: "Guardar Cambios"
                });
                
                
            });

        }

    } 

    Nuevo_registro = function(e){

        new template_modal({
            title: "Registrar Nuevo Cliente",
            btn_rigth_function: "Agregar_registro()",
            reset_form: "modal_form",
            btn_rigth_text: "Crear Registro"
        });

    }

    Eliminar_msg = function(e){

        new template_modal_advert({
            title: "¿Esta Seguro que desea Eliminar?",
            btn_rigth_function: "Eliminar_registro()",
            btn_rigth_text: "Si, Eliminar"
        });
        
    }

    var index_tb = {
                        "data": [
                                ["id"],
                                ["ip"], 
                                ["mac_address"], 
                                ["nombre"], 
                                ["estatus_servicio"]
                            ],
                        "upper": [3] 
                        };


</script>

{% endblock %}


{% block headtable %}
    <tr>
        <th><input type="checkbox" id="check-all"></th>
        <th>IP</th>
        <th>Mac</th>
        <th>Nombre</th>
        <th>Estatus</th>
    </tr>

{% endblock %}

{% block bodytable %}
    <tr class="id_{{dato.id}}">
        <td><input type="checkbox" name="check-all" onclick="this.checked = !this.checked" value="{{dato.id}}"></td>
        <td><a target="_blank" href="http://{{dato.ip}}">{{dato.ip}}</a></td>
        <td>{{dato.mac_address}}</td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.estatus_servicio}}</td>
    </tr>

    <script>
        
    </script>
{% endblock %}

{# fin tabla #}