{% extends "index.twig" %}

{% block content %}
	<div class="col-md-6 col-sm-6  ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Configuracion de <small>Usuarioss</small></h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
					
					<ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Usuarios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nuevo</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="panel-body">
							
						 <form  method="post">
							<input type="hidden" value="user_cargar" name="funcion">
							
							
							<ul class="to_do">
						{% for item in users %}
                   
								<li>
								{% if item.id == user.id %}
								<p><input type="radio" class="flat" name='user' value="{{item.id}}" checked > {{item.name}} </p>
								{% else %}
								<p><input type="radio" class="flat" name='user' value="{{item.id}}"> {{item.name}} </p>
								{% endif %}
								</li>
										
						{% endfor %}

							<script>
								document.getElem
							</script>

							</ul>
							<button type="submit" class="btn btn-success">Cargar Permisos</button>
						</form>
						</div>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form  method="post">
							<input type="hidden" value="user_crear" name="funcion">
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 ">Nombre y Apellido </label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control" placeholder="Ingrese Nombre y Apellido" name="nombre">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 ">Nombre de Usuario</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control" placeholder="Ingrese Nombre de Usuario" name="name_user">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 ">Contraseña</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control" placeholder="Ingrese Contraseña" name="pass_user">
								</div>
							</div>
							
							<button type="submit" class="btn btn-success">Crear</button>
						</form>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>

	<div class="col-md-6 col-sm-6  ">
		<div class="x_panel">
			<div class="x_title">
			<h2><i class="fa fa-align-left"></i> Permisos de Acceso <small></small></h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Settings 1</a>
					<a class="dropdown-item" href="#">Settings 2</a>
					</div>
				</li>
				<li><a class="close-link"><i class="fa fa-close"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
			</div>

			<div class="x_content">
			
			<h4 style="padding: 5px;">Asignar Permisos a:<small> {{user.name}}</small></h4>
			<!-- start accordion -->
			<div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
			<form  method="post">	
				<div class="panel">
				
					<input type="hidden" value="cargar_permisos" name="funcion">
					<input type="hidden" value="{{user.id}}" name="user">
				 {% for item in menu %}
					{% set checked = '' %}
					{% for checkedmenu in menu_checket %}
						{% if checkedmenu == item.id %}
							{% set checked = 'checked' %}
						{% endif %}
					{% endfor %}


                    <a class="panel-heading collapsed" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{item.id}}" aria-expanded="false" aria-controls="collapseOne">
						<h4 class="panel-title"><input type="checkbox" class="flat" id='menuchecket{{item.id}}' {{checked}}> {{item.nombre}}</h4>
					</a>

					<div id="collapse{{item.id}}" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne" style="">
						<div class="panel-body">
							<ul class="to_do">
					  
					{% set sin_ruta = true %}

                      {% for ruta in rutas %}
                        {% if ruta.id_menu == item.id %}
						
						{% set checked = '' %}
						   
							{% if ruta.user_checked %}

								{% set checked = 'checked' %}

							{% endif %}
						
							<li style="margin-left: 10px;">
                        	  <p><input type="checkbox" class="flat" name="permisos[]" value="{{ruta.id}}" {{checked}}> {{ruta.nombre}} :: {{ruta.ruta}}</p>
                      		</li>

						{% set sin_ruta = false %}

                        {% endif %}

						{% if ruta.crud_menu == item.id %}
						
						{% set checked = '' %}
						   
							{% if ruta.user_checked %}

								{% set checked = 'checked' %}

							{% endif %}
						
							<li style="margin-left: 10px;">
                        	  <p><input type="checkbox" class="flat" name="permisos[]" value="{{ruta.id}}" {{checked}}> {{ruta.nombre}} :: {{ruta.ruta}} :: CRUD</p>
                      		</li>

						{% set sin_ruta = false %}

                        {% endif %}
                      {% endfor %}

					  {% if sin_ruta %}
					  		<li>
                        	  <p> Sin Rutas... </p>
                      		</li>
					  {% endif %}
                    		</ul>
						</div>
					</div>

                  {% endfor %}
				
				{% set checked = '' %}
				{% for checkedmenu in menu_checket %}
					{% if checkedmenu == 0 %}
						{% set checked = 'checked' %}
					{% endif %}
				{% endfor %}

				<!--  <a class="panel-heading collapsed" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapsesn" aria-expanded="false" aria-controls="collapseOne">
						<h4 class="panel-title"><input type="checkbox" class="flat" {{checked}}> Sin Menu</h4>
					</a>

					<div id="collapsesn" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne" style="">
						<div class="panel-body">
							<ul class="to_do">
                      {% for ruta in rutas %}
                        {% if ruta.id_menu == 0 %}

						{% set checked = '' %}
						   
							{% if ruta.user_checked %}

								{% set checked = 'checked' %}

							{% endif %}

                            <li style="margin-left: 10px;">
                        	  <p><input type="checkbox" class="flat" name="permisos[]" value="{{ruta.id}}" {{checked}}> {{ruta.nombre}} :: {{ruta.ruta}} </p>
                      		</li>
                        {% endif %}
                      {% endfor %}
                    		</ul>
						</div>
					</div>-->
					
					
				
				</div>
			<br>
			<button type="submit" class="btn btn-success">Asignar permisos</button>
			</form>
			</div>
			<!-- end of accordion -->


			</div>
		</div>
	</div>

{% endblock %}


{% block js %}
{{ parent() }}

<script>
	{% if error %}
	$(document).ready(function() {
		validar([{error: '{{error}}'}]);
	});
	{% endif %}

</script>

{% endblock %}


