{% extends "index.twig" %}

{% block content %}
<div class="">
    <div class="page-title">
      <div class="title_left">
        {% block titlepage %}
		<h3>Pagos <small></small></h3>
		{% endblock %}
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					{% block subtitlepage %}
						<h2>Lista de Clientes <small>Pendientes</small></h2>
					{% endblock %}
				
				
					<!--<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a>
							<a class="dropdown-item" href="#">Settings 2</a>
						</div>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
					</ul>-->
				
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<!--<p class="text-muted font-13 m-b-30">
								DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
								</p>-->
								{% block buttonpage %}
									
								{% endblock %}
								<h6 style="margin-left: 5px; display: none;">Has Selecionado <span id="msj_elementos_seleccionados">0 Elementos</span></h6>
								
								<table id="tb_principal" class="table table-striped table-bordered" style="width:100%">
									<thead>
									{% block headtable %}
										<tr>
										<th>ID</th>
										<th>Mac</th>
										<th>Nombre</th>
										</tr>
									{% endblock %}
									</thead>


									<tbody>

										{% for dato in data %}

										{% block bodytable %}
											<tr>
											<td>{{dato.id}}</td>
											<td>{{dato.mac}}</td>
											<td>{{dato.comentario}}</td>
											</tr>
										{% endblock %}
										
										{% endfor %}
								
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}



{% block js %}
{{ parent() }}
<script type="text/javascript">

	
	

	var datatableconf = {
	        "scrollY":        "450px",
	        "scrollCollapse": true,
	        "paging":         false,
	        "language": {
				"url": "{{base_dir_controller}}plantilla/js/datatable/traduccion/esp.json"
			},
			"order": [[ 1, "asc" ]],
			"columnDefs": [{
                searchable: false,
				sorting: false,
				targets: 0,
            }],

	    };

	{% block js_conf " " %}
	ruta_crud = "gastos";
	if(typeof(ruta_crud) != "undefined"){

		rutas = { 
				obtener: 'data/obtener/',
				agregar: 'data/agregar/',
				eliminar: 'data/eliminar/',
				modificar: 'data/modificar/',
				funcion: {add: 'crear_', eliminar: 'eliminar_', getdata: 'obtener_', modificar: 'modificar_'}
				};

		rutas.obtener += ruta_crud;
		rutas.agregar += ruta_crud;
		rutas.eliminar += ruta_crud;
		rutas.modificar += ruta_crud;
		rutas.funcion.add += ruta_crud;
		rutas.funcion.eliminar += ruta_crud;
		rutas.funcion.getdata += ruta_crud;
		rutas.funcion.modificar += ruta_crud;

	}

	console.log(rutas);

	// carga funciones 
	$(document).ready(function() {


		//Inicializacion de la tabla
	    table = $('#tb_principal').DataTable(datatableconf);

		table.on( 'draw.dt', function () {
			status_options();
		} );
		
		//N Celdas seleccionadas
	 	checkcount = 0;

		//Selecionar celdas individualmente
		$('#tb_principal tbody').on('click', 'tr', function () {
			var data = table.row( this ).data();

			columna = this;

			columna.children[0].children[0].checked = !columna.children[0].children[0].checked;
			columna.children[0].children[0].checked ? checkcount++ : checkcount--;
			
			status_options();

		} );

		//Selecionar Todas Las Celdas
		var check_all = document.getElementById("check-all")
		
		if(check_all){
			check_all.addEventListener("click", function(){
				var checked = this.checked;
				checked ? checkcount=document.getElementsByName("check-all").length : checkcount=0;

				document.getElementsByName("check-all").forEach(function(e){				
					e.checked = checked;
				});

				status_options();
				
			});
		}
		
		

		//Refrecar Estado de las opciones
		status_options = function(){
			//console.log("hola");
			b = document.getElementsByClassName('option_btn');
			
			if(b.length == 0){
				return 0;
			}

			cell = CeldasCheck();
			checkcount = cell.id.length;

			for(i=0; i<b.length; i++){
				
				if(b[i].dataset.i == checkcount){
					b[i].className = 'option_btn btn btn-primary btn-sm';
					b[i].disabled = false;
				}else if(checkcount > 0 && b[i].dataset.i == "2"){
					b[i].className = 'option_btn btn btn-primary btn-sm';
					b[i].disabled = false;
				}else{
					b[i].className = 'option_btn btn btn-secondary btn-sm';
					b[i].disabled = true;
				}
				
			}

			var msj_temp = document.getElementById('msj_elementos_seleccionados');
			msj_temp.textContent = checkcount == 1 ? checkcount+' Elemento' : checkcount+' Elementos';
			msj_temp.parentNode.style.display = '';
		}

		//Obtener Celdas Selecionadas
		CeldasCheck = function(){
			var check_all = document.getElementsByName("check-all");
			var data = {id: []};
			var index = 0;

			check_all.forEach(function(check){

				if(check.checked){
					data.id[index] = check.value;
					index++;
				}  
			
			});
			
			return data;
		}
		
		//
		Eliminar_registro = function(e){
			var url = "{{base_dir_controller}}"+rutas.eliminar;
			
			var data = {funcion: "", data: ""};
			data.data = CeldasCheck();
			data.funcion = rutas.funcion.eliminar;
			
			$.post(url, data).done(function(resp){

				resp = JSON.parse(resp);
				
				if(typeof(resp) == "object"){
					
					if(!validar(resp)){						
							return 0;					
					}

					resp.data.id.forEach(function(value){
						table.row($('#tb_principal tbody .id_'+value)).remove().draw();
					});

					$(".bs-example-modal-md").modal("hide");
					status_options();

					new PNotify({
								title: 'Eliminado',
								text: 'Los registros han sido eliminados correctamente',
								type: 'success',
								styling: 'bootstrap3'
							});
				}else{
					new PNotify({
							title: 'Ocurrio un error',
							text: 'Los registros No han sido Eliminados correctamente',
							type: 'error',
							styling: 'bootstrap3'
						});
				}
				
			});
			

		}

		Modificar_registro_msg = function(e){

			document.getElementById("modal-btn-save").disabled = true;

			new template_modal_advert({
				title: "¿Esta Seguro que desea Modificar?",
				btn_rigth_function: "Modificar_registro()",
				btn_rigth_text: "Si, Modificar"
			});
			
		}

		Modificar_registro = function(e){

			var url = "{{base_dir_controller}}"+rutas.modificar;
			$(".bs-example-modal-md").modal("hide");

			var temp = $( "#modal_form" ).serializeArray()
    				.reduce(function(a, z) { a[z.name] = z.value; return a; }, {});

			var dataform = {funcion: "", data: ""};
			dataform.funcion = rutas.funcion.modificar;
			dataform.data = temp; 

			$.post(url, dataform).done(function(data){
				
				data = JSON.parse(data);
				fila = [];

				if(!validar(data)){						
					return 0;					
				}

				if(typeof(data) == "object"){
					
					fila = addRow(data, index_tb);
					fila[0][0] = '<input type="checkbox" name="check-all" onclick="this.checked = !this.checked" value="'+data[0].id+'">';
					
					table.row($('#tb_principal tbody .id_'+data[0].id )).remove().draw();
					table.row.add(fila[0]).draw().nodes().to$().addClass( 'id_'+data[0].id );;

					new PNotify({
							title: 'Registro Modificado',
							text: 'Los registros han sido Modificados correctamente',
							type: 'success',
							styling: 'bootstrap3'
						});

					$(".bs-example-modal-lg").modal("hide");
					
				}else{
					new PNotify({
							title: 'Ocurrio un error',
							text: 'Los registros No han sido modificados correctamente',
							type: 'error',
							styling: 'bootstrap3'
						});
				
				}
				
				
				document.getElementById("modal-btn-save").disabled = false;
				status_options();

			});

			
			
			
		}

		Agregar_registro = function(e){

			var url = "{{base_dir_controller}}"+rutas.agregar;
			document.getElementById("modal-btn-save").disabled = true;

			var temp = $( "#modal_form" ).serializeArray()
    				.reduce(function(a, z) { a[z.name] = z.value; return a; }, {});

			var dataform = {funcion: "", data: ""};
			dataform.funcion = rutas.funcion.add;
			dataform.data = temp; 

			$.post(url, dataform).done(function(data){
				
				data = JSON.parse(data);
				fila = [];
				if(typeof(data) == "object"){
					
					if(!validar(data)){
						document.getElementById("modal-btn-save").disabled = false;
						return 0;					
					}

					fila = addRow(data, index_tb);
					fila[0][0] = '<input type="checkbox" name="check-all" onclick="this.checked = !this.checked" value="'+data[0].id+'">'
					

					table.row.add(fila[0]).draw().nodes().to$().addClass( 'id_'+data[0].id );

					new PNotify({
							title: 'Registro Creado',
							text: 'Los registros han sido creados correctamente',
							type: 'success',
							styling: 'bootstrap3'
						});

					$(".bs-example-modal-lg").modal("hide");

					
					
				}else{
					new PNotify({
							title: 'Ocurrio un error',
							text: 'Los registros No han sido creados correctamente',
							type: 'error',
							styling: 'bootstrap3'
						});

				}

				status_options();
				
				
				
				

			});
		} 

	});

	
</script>
{% endblock %}




    