{% extends "tabla.twig" %}
{% set subtitle = "Todos pagos por cobrar" %}

{% block titlepage %}
		<h3>Cobranza<small></small></h3>
{% endblock %}

            {% for mes in meses %}
                {% if mes.id == id_mes %}
                
                    {% set subtitle = mes.nombre %}
                    {% set Mes = mes %}

                {% endif %} 
            {% endfor %}

{% block subtitlepage %}

            <h2>
            {{subtitle}}
            <small>

                {% for mes in meses %}
                    {% if mes.id == id_mes %}
                    
                        <b>Pagos Cobrados:</b> {{mes.pagos().where("estado", "Pagado").count()}},
                        <b>Monto Cobrado:</b> {{mes.pagos().where("estado", "Pagado").sum("monto")}},
                        <b>Pagos Pendientes:</b> {{mes.pagos().where("estado", "Pendiente").count()}},
                        <b>Monto Pendiente:</b> {{mes.pagos().where("estado", "Pendiente").sum("monto")}}.
                        

                    {% endif %} 
                {% endfor %}
                
            </small>
            </h2>

{% endblock %}

{# botones de Edicion #}
{% block buttonpage %}
    <div class="x_content">
 
        <div class="buttons">
            <button type="button" class="option_btn btn btn-primary btn-sm"  data-i="0" id="btn_nuevo_registro" onclick="Nuevo_registro(this)">Nuevo Pago</button>
            <button type="button" class="option_btn btn btn-secondary btn-sm"  data-i="1" disabled id="btn_editar"   onclick="Obtener_registro(this)">Editar</button>
            <button type="button" class="option_btn btn btn-secondary btn-sm"  data-i="2" disabled id="btn_cobrar" onclick="cobrar()" >Cobrar</button>
            <button type="button" class="option_btn btn btn-secondary btn-sm"  data-i="2" disabled id="btn_eliminar" onclick="Eliminar_msg(this)" >Eliminar</button>
            
        </div>
        
    </div>
    <div class="modal fade bs-example-modal-cobrar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="Modaltitl">Cobrar Pagos</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-label-left input_mask" id="modal_form_cobrar">
                
                <div class="col-md-6 col-sm-6 has-feedback">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 ">Cuenta: </label>
                        <div class="col-md-9 col-sm-9 ">
                            <select class="form-control" name="cuenta" id="form_id_cuenta"> 
                                <option value="1" >Carlos Rodriguez</option>
                                <option value="2" >Vicente Lopez</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 has-feedback">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">Fecha de Pago<span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" name="fecha_cobro" id="form_fecha_cobro" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <script>
                                function timeFunctionLong(input) {
                                    setTimeout(function() {
                                        input.type = 'text';
                                    }, 60000);
                                }
                            </script>
                        </div>
                    </div>
                </div>
                
                
                

                
            </form>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="modal-btn-cobrar" onclick="cobrar(true)">Cobrar</button>
        </div>
        

        </div>
        </div>
    </div>
{% endblock %}

{# ventana modal #}

{% block modalcontent %}
	<div class="x_panel">
        
        <div class="x_content">
            <br>
            <form class="form-label-left input_mask" id="modal_form">
                <input type="hidden" id="form_id" name="id" value="1">
                <input type="hidden" id="form_id_cliente" name="id_cliente" value="1">
                <div class="col-md-12 col-sm-12  form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="form_buscar_cliente" placeholder="Buscar Cliente">
                    <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
                </div>
                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="form_nombre" placeholder="Nombre" readonly="true">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>
                <script>
                    document.getElementById("form_buscar_cliente").addEventListener("keyup", function(){
                    var tableclientes = $('#tb_form_clientes').DataTable();
                        if(tableclientes.search() != this.value){
                            tableclientes.search(this.value).draw();
                            
                        }
                       
                    });
                </script>

                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="form_cedula" placeholder="Cedula" readonly="true">
                    <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                </div>

                <script>
                    document.getElementById("form_cedula").addEventListener("keyup", function(){
                    var tableclientes = $('#tb_form_clientes').DataTable();
                        if(tableclientes.column("1:visIdx").search() != this.value){
                            tableclientes.column("1:visIdx").search(this.value).draw()
                        }

                    });
                </script>
                <div class="col-md-6 col-sm-6 has-feedback">
                    <div class="form-group row">
                        <label class="col-form-label col-md-5 col-sm-5 "> Mes a pagar</label>
                        <div class="col-md-7 col-sm-7 ">
                            <select class="form-control" name="mes">
                            {% for mes in meses %} 
                                <option value="{{mes.id}}">{{mes.nombre}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-sm-6 has-feedback">
                    <div class="form-group row">
                        <label class="col-form-label col-md-5 col-sm-5 ">Monto a Pagar</label>
                        <div class="col-md-7 col-sm-7 ">
                            <input type="number" class="form-control"  name="monto" id="form_monto" placeholder="Ej. 50.000$">
                         </div>
                    </div>
                </div>
                <table id="tb_form_clientes" class="display" style="width: 100%;">
                 <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Tipo de Servicio</th>
                        <th>Dia de Cobro</th>
                        <th></th>
                    </tr>
                 </thead>
                </table>
               

            </form>
        </div>
    </div>
{% endblock %}

{% block js %}

    {{ parent() }}
    
    <script>

    var index_tb = {
        "data": [
            ["id"],
            [ "nombre", 
                "apellido"],
            ["nombre_mes"], 
            [ "fecha_cobro"], 
            [ "monto"], 
            [ "estado" ]
        ],
        "upper": [1,2] 
    };

    rutas.eliminar = 'data/eliminar/pago';
    rutas.agregar = 'data/agregar/pago';
    rutas.obtener = 'data/obtener/pago';
    rutas.modificar = rutas.modificar+'pago';

    // llama Modals
    Obtener_registro = function(e){

        var url = "{{base_dir_controller}}"+rutas.obtener;
        
        var data = CeldasCheck();

        if(data.id.length == 1){

            $.post(url, data).done(function(resp){

                resp = JSON.parse(resp);

                resp.forEach(function(value){

                    cargar_form(value);
                    
                });
                

                new template_modal({
                    title: "Modificar Datos del Pago",
                    btn_rigth_function: "Modificar_registro_msg()",
                    btn_rigth_text: "Guardar Cambios"
                });
                
                
            }).error(function(data){
			
				data = JSON.parse(data.responseText);

				validar(data);

				document.getElementById("modal-btn-save").disabled = false;
				
			});

        }

    } 

    Nuevo_registro = function(e){

        new template_modal({
            title: "Nuevo Registro de Pago",
            btn_rigth_function: "Agregar_registro()",
            reset_form: "modal_form",
            btn_rigth_text: "Crear Registro"
        });

    }

    Eliminar_msg = function(e){

        new template_modal_advert({
            title: "¿Esta Seguro que desea Eliminar?",
            btn_rigth_function: "Eliminar_registro()",
            btn_rigth_text: "Si, Eliminar"
        });
        
    }

    cobrar = function(e = false){

        if(e){

            var url = "{{base_dir_controller}}data/agregar/cobro";
            document.getElementById("modal-btn-cobrar").disabled = true;

            var dataform = $( "#modal_form_cobrar" ).serializeArray()
                    .reduce(function(a, z) { a[z.name] = z.value; return a; }, {});

            dataform.pagos = CeldasCheck(); 

            ajax_post(url, dataform, function(resp){

                document.getElementById("modal-btn-cobrar").disabled = false;

                resp[0].forEach(function(value){

                    table.row($('#tb_principal tbody .id_'+value.id)).remove().draw();
                    
                });

                $(".bs-example-modal-cobrar").modal("hide");
				status_options();

                new PNotify({
                            title: 'Registrado',
                            text: 'Los pagos han sido registrados correctamente',
                            type: 'success',
                            styling: 'bootstrap3'
                        });

            });

            

        }else{

            $(".bs-example-modal-cobrar").modal();

        }
        
    }

    var datos_clientes = 0;
    $.get("{{base_dir_controller}}data/obtener/clientes").done(function(data){
      
        var index_tb_clientes = {
                     "data": [
                            [ "nombre", 
                              "apellido"],
                            [ "cedula"],
                            [ "tipo_servicio"],
                            [ "dia_cobro" ],
                            ["id"]
                        ],
                     "upper": [0] 
                    };

        data = JSON.parse(data);
        datos_clientes = data.DATA;
       
        var datos = addRow(data, index_tb_clientes);

        datos.forEach(function(value, index){
            datos[index][4] = '<span class="badge badge-primary"><a href="#" onclick="cargar_cliente(this)"  data-value="'+datos[index][4]+'">Seleccionar</a></span>';
        });

        $('#tb_form_clientes').DataTable( {
            "data": datos,
            "paging": true,
            "language": {
				"url": "{{base_dir_controller}}plantilla/js/datatable/traduccion/esp.json"
			},
            "paging": true,
            "order": [[ 1, "asc" ]],
            'sDom': 'tip',
            "columnDefs": [{
                searchable: false,
				sorting: false,
				targets: 4,
            }]
        } );


    }).error(function(data){
			
        data = JSON.parse(data.responseText);

        validar(data);

        document.getElementById("modal-btn-save").disabled = false;
            
    });

    function cargar_cliente($this){
        console.log(datos_clientes);
        datos_clientes.forEach(function(values){
            if(values.id == $this.dataset.value){

                var clon = {id_cliente: 0,
                            nombre: "",
                            monto:0,
                            cedula:0};
                
                clon.nombre = values.nombre.toUpperCase()+" "+values.apellido.toUpperCase(); 
                clon.id_cliente = values.id;
                clon.monto = values.monto;
                clon.cedula = values.cedula;

                cargar_form(clon);
            }


        });
        
        
    }


    function ajax_post(url, dataform, callback){

        $.post(url, dataform).done(function(resp){

                resp = JSON.parse(resp);

                if(!validar(resp)){
                    
                    return 0;

                }

                callback(resp);

                
            }).error(function(data){
			
				data = JSON.parse(data.responseText);

				validar(data);
				
			});
    }

    </script>
{% endblock %}


{# fin ventana modal #}


{# tabla #}

{% block headtable %}
    <tr>
        <th><input type="checkbox" id="check-all"></th>
        <th>Cliente</th>
        <th>Mes</th>
        <th>Fecha de Cobro</th>
        <th>Monto</th>
        <th>Estado</th>
    </tr>

{% endblock %}

{% block bodytable %}
    <tr class="id_{{dato.id}}">
        <td><input type="checkbox" name="check-all" onclick="this.checked = !this.checked" value="{{dato.id}}"></td>
        <td>{{dato.cliente.nombre|upper}} {{dato.cliente.apellido|upper}}</td>
        <td>{{dato.mes.nombre|upper}}</td>
        <td>{{dato.fecha_cobro}}</td>
        <td>{{dato.monto|number_format(0, ',', '.')}} COP</td>
        <td>
        {% if dato.estado == "Pendiente" %}
            <span class="badge badge-warning">{{dato.estado}}</span>
        {% elseif dato.estado == "Pagado" %}
            <span class="badge badge-success">{{dato.estado}}</span>
        {% endif %}
        </td>
    </tr>

{% endblock %}

{# fin tabla #}